header {
    border-bottom: 2px #3f1707;
    border-bottom-style: dashed;
    padding: 20px;
    font-size: 32px;
    color:(121,0,0) ;
    font-size: 25px;

}
body {
    background: rgb(0, 0, 0);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
    color: #f0f0f0;
    margin-bottom: 122px;
    h1 {
        color: #f0f0f0;
        font-family: "Bodoni Moda SC", serif;
        font-size: 27px;
    }
    u{
        text-decoration: underline white;
        font-size: 18px;
    }
.chamada{
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto{
        margin-right: 5%;
}
.chamada-video{
    margin-left: 100px;
}

 .categoria{
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;
    background-color: #49291c;
 }
 
 .categoria-videos {
    overflow-x: auto;
    display: flex;
    gap: 15px;
  }
  .categoria-videos img{
    opacity: 0.6;
    height: 180px;
  }
  .categoria-videos img:hover{
    opacity: 1.0;
    border: 1px dashed rgb(255, 255, 255) ;
  }
h2{
    font-size: 19px;
}
header{
   border-block-color: rgb#49291c;
}
}